/* Landscape tablet and below */
@media (max-width: 1024px) {
	.inside-footer-widgets > div {
		margin-bottom: 50px;
	}
	
	.active-footer-widgets-1 .footer-widget-1,
	.active-footer-widgets-3 .footer-widget-3,
	.active-footer-widgets-5 .footer-widget-5 {
		width: 100%;
	}
}

/* Portrait tablet and below */
@media (max-width: 768px) {
	.sidebar,
	.content-area {
		float: none;
		width: 100%;
		left: 0;
		right: 0;
	}
	
	.main-title a {
		font-size: 80%;
	}
	
	.main-title {
		line-height: 1em;
	}
	
	.menu-toggle,
	.main-navigation.toggled .main-nav > ul {
		display: block;
	}
	
	.main-navigation ul li.sfHover > ul {
		display: none;
	}
	
	button.menu-toggle {
		background-color: transparent;
		width: 100%;
		border: 0;
	}
	
	button.menu-toggle:hover,
	button.menu-toggle:active,
	button.menu-toggle:focus {
		background-color: transparent;
		border: 0;
		outline: 0;
	}
	
	.sub-menu.toggled-on,
	.children.toggled-on {
		display: block !important;
		opacity: 1 !important;
	}
	
	.dropdown-menu-toggle:before {
		content: "\f107" !important;
	}
	
	.sfHover > a .dropdown-menu-toggle:before {
		content: "\f106" !important;
	}

	.main-navigation ul {
		display: none;
	}
	
	.nav-float-right .main-navigation,
	.nav-float-left .main-navigation {
		float: none;
		margin-bottom:20px;
	}
	
	.nav-float-left .site-branding,
	.nav-float-left .site-logo {
		float: none;
	}
	
	.navigation-search {
		bottom: auto;
		top: 0;
	}
	
	.mobile-bar-items {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 21;
		list-style-type: none;
	}
	
	.mobile-bar-items a {
		display: inline-block;
	}
	
	.main-navigation .menu li.search-item {
		display: none !important;
	}
	
	li.search-item a {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.site-main {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	
	body:not(.no-sidebar) .site-main {
		margin-bottom: 0 !important;
	}
	
	.fluid-header .inside-header {
		text-align: center;
	}
	
	.menu-toggle {
		text-align: center;
	}
	
	.nav-search-enabled .main-navigation .menu-toggle {
		text-align: left;
	}
	
	.main-nav .sf-menu > li {
		float: none;
		clear: both;
	}
	
	.nav-aligned-right.nav-below-header .main-navigation .sf-menu > li, 
	.nav-aligned-right.nav-above-header .main-navigation .sf-menu > li, 
	.nav-aligned-center.nav-below-header .main-navigation .sf-menu > li, 
	.nav-aligned-center.nav-above-header .main-navigation .sf-menu > li {
		display: block;
		margin: 0;
		text-align: left;
	}
	
	.main-navigation .main-nav ul ul {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.menu-item-has-children .dropdown-menu-toggle {
		float: right;
	}
	
	.header-widget {
		float: none;
		max-width: 100%;
		text-align: center;
	}
	
	.main-navigation {
		text-align:left;
	}
	
	.navigation-search,
	.navigation-search input {
		width: 100%;
		max-width: 100%;
	}
	
	.alignleft,
	.alignright {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.post-image-aligned-left .post-image,
	.post-image-aligned-right .post-image {
		float: none;
		margin: 2em 0;
		text-align: center;
	}
	
	.site-info {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.edd_download {
		display: block;
		float: none !important;
		margin-bottom: 1.5em;
		width: 100% !important;
	}

	.woocommerce .woocommerce-ordering, 
	.woocommerce-page .woocommerce-ordering {
		float: none;
	}
	
	.woocommerce .woocommerce-ordering select {
		max-width: 100%;
	}
	
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product {
		width: 45%;
	}
	
	/* Backwards compatibility until Slideout is updated */
	.slideout-mobile.dropdown-hover .dropdown-menu-toggle,
	.slideout-both.dropdown-hover .dropdown-menu-toggle {
		display: none;
	}
	
	.slideout-mobile.dropdown-hover .dropdown-toggle,
	.slideout-both.dropdown-hover .dropdown-toggle {
		display: block !important;
		position: absolute !important;
	}
	
	.slideout-mobile.dropdown-hover .secondary-navigation .main-nav ul li.menu-item-has-children a,
	.slideout-both.dropdown-hover .secondary-navigation .main-nav ul li.menu-item-has-children a {
		padding-right: 20px;
	}
	
	.slideout-mobile.dropdown-click .secondary-navigation ul li.sfHover > ul,
	.slideout-both.dropdown-click .secondary-navigation ul li.sfHover > ul {
		display: block;
	}
	
	.dropdown-click .secondary-navigation .main-nav ul li .dropdown-toggle {
		display: none;
	}
}